In [1]:
import numpy as np

In [2]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [3]:
b = np.sum(s,axis = 1)
for i in b:
    if  i !=45:
        print("sudoku is not valid")
        break
    else:
        print("sudoku is valid")

sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid

In [4]:
b = np.sum(s,axis = 0)
for i in b:
    if  i !=45:
        print("sudoku is not valid")
        break
    else:
        print("sudoku is valid")

sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid
sudoku is valid

In [5]:
s[0:3,0:3]

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [6]:
 for i in range(0,9,3):
     for j in range(0,9,3):
         n =  (s[i:i+3][j:j+3])
         print (n.sum())

135
0
0
135
0
0
135
0
0

In [7]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65, 70],
       [20, 90, 85]])

In [8]:
#Get the shape of the matrix.
#Find the average age of students.
#Extract Math marks of all students.
#Find the highest Science mark.
#Get details of the student who scored more than 90 in Math.
#Increase Math marks of all students by 5.
#Find how many students are younger than 19.
#Calculate the average marks in each subject (column-wise mean).
#Get data of students who scored at least 80 in both subjects.
#Replace all Science marks < 75 with 0.

In [9]:
data.shape

(5, 3)

In [10]:
np.mean(data[:,0])

np.float64(18.4)

In [11]:
data[:,1]

array([85, 92, 76, 65, 90])

In [12]:
np.max(data[:,2])

np.int64(95)

In [13]:
data[data[:,1]>90]

array([[19, 92, 88]])

In [14]:
data[:,1] += 5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [15]:
len(data[data[:,0]<19])

3

In [16]:
np.mean(data[:,1:], axis = 0)

array([86.6, 83.2])

In [17]:
data[(data[:,1]>=80) & (data[:,2]>=80)]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [18]:
data[:,2][data[:,2] <75]=0
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])